@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Merriweather";
  src: url("/MerriweatherFont/Merriweather-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("/RalewayFont.ttf");
}

@layer components {
  .font-heading {
    @apply text-5xl font-merriweather dark:text-pearl-white;
  }

  .profile-pic {
    @apply max-lg:mx-auto w-80 border-light-brown border-4 overflow-hidden;
  }
}
