@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Merriweather";
  src: url("public/MerriweatherFont/Merriweather-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("public/RalewayFont.ttf");
}

@layer components {
  .font-heading {
    @apply text-5xl font-merriweather dark:text-pearl-white;
  }
}
